.home ul {
    position: relative;
    list-style: none;
}

.home ul li::before {
    content: '▶';
    position: absolute;
    left: -6px;
}

.logo {
    width: 603px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.team {
    position: relative;
    width: 603px;
    max-width: 100%;
}

.avatar-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.bio-block {
    position: absolute;
    width: 688px;
    max-width: 100%;
    padding: 15px;
    border: 1px solid #fff;
    background-color: #000024;
    color: #fff;
}

.bio-block.john-block {
    -webkit-transform: translate(0px, -33%);
    -ms-transform: translate(0px, -33%);
    transform: translate(0px, -33%);
}

.bio-block.mark-block {
    -webkit-transform: translate(0px, -32%);
    -ms-transform: translate(0px, -32%);
    transform: translate(0px, -32%);
}

.bio-block.linda-block {
    margin: auto;
    -webkit-transform: translate(0px, -32%);
    -ms-transform: translate(0px, -32%);
    transform: translate(0px, -32%);
}

.pointer-line {
    position: absolute;
    left: 50%;
    top: 100%;
    display: block;
    width: 2px;
    height: 70px;
    background-color: #fff;
    -webkit-transform: translate(4px, 0px);
    -ms-transform: translate(4px, 0px);
    transform: translate(0px, 0px);
}

.pointer-line.john-line {
    transform: translate(-301px, 0px);
}

.pointer-line.mark-line {
    transform: translate(301px, 0px);
}

.ttm-shadow {
    box-shadow: 0 0 20px #fff;
}

.ttm-body-bg {
    background-image: url("../img/bg-ttm.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 991px) {
    .bio-block.john-block {
        -webkit-transform: translate(0px, -32%);
        -ms-transform: translate(0px, -32%);
        transform: translate(0px, -32%);
    }
    .bio-block.mark-block {
        -webkit-transform: translate(0px, -32%);
        -ms-transform: translate(0px, -32%);
        transform: translate(0px, -32%);
    }
    .bio-block.linda-block {
        -webkit-transform: translate(0px, -32%);
        -ms-transform: translate(0px, -32%);
        transform: translate(0px, -32%);
    }
    .pointer-line.john-line {
        left: 0%;
        display: block;
        -webkit-transform: translate(42px, 0px);
        -ms-transform: translate(42px, 0px);
        transform: translate(42px, 0px);
    }
    .pointer-line.mark-line {
        left: auto;
        right: 0px;
        display: block;
        -webkit-transform: translate(-40px, 0px);
        -ms-transform: translate(-40px, 0px);
        transform: translate(-40px, 0px);
    }
}

@media screen and (max-width: 767px) {
    .logo {
        max-width: 76%;
    }
    .team {
        position: static;
        max-width: 76%;
    }
    .bio-block {
        width: 300px;
        min-height: 620px;
        margin-right: auto;
        margin-left: auto;
    }
    .bio-block.john-block {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .bio-block.mark-block {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .bio-block.linda-block {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .pointer-line.john-line {
        display: none;
    }
    .pointer-line.mark-line {
        display: none;
    }
}